<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">

    <% for(var count=0; count<newlistItems.length; count++ ){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newlistItems[count] %> </p>
        </div>
    <%} %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" value="" autocomplete="off">

        <button type="submit" name="list" value=<%= listTitle %> >+</button>
    </form>

</div>

<%- include("footer") -%>
